<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">What is this about?</div>
        <div class="panel-body">One day in late 2014, while hanging around at my local store, I was trying to build a list and I struggled to remember
          a card's effect. I recalled what it was, then, but I was already looking for other cards that could have those
          nasty "destroy" and "resonator" words in the same card text, then I wanted all resonators that had "fairy tale"
          race, then all resonators with more than 700 ATK and then I thought Man, I'm lazy! I wish there was a program for
          that! And so the tale begins. Since I wasn't (and I'm not) a programmer, I grabbed lots and lots of books, manuals
          and tutorials since then and spent countless hours head-to-head with my PC while gradually learning how to "make
          computers do the search" I wanted. I travelled through the obscure lands of HTML, XML, CSS, JavaScript, jQuery,
          AJAX, JSON, PHP, SQL, MySQL, Bootstrap, OGP and many other unknown informatic mysteries to me, with my goal as
          a torch, while I gradually learned how to embrace those mysteries and make them work for the cause. Then, on Tuesday
          17th, February 2015 FoWDB was born. It lived for months on an italian server, AlterVista (http://www.fowdb.altervista.org),
          while gradually grabbing the attention of a few dedicated early users. I collected precious feedbacks from all
          over the world and slowly upgraded the website, one tiny and most of the times unperceptible feature at a time.
          After a series of turbolent events, FoWDB was forced to close on Monday 3rd, August 2015, but after that a huge
          support spread all over the Force of Will community and, eventually, the database found a new and comfortable home
          to put roots and grow healthy in, here at Fowtcg.us. That's all for now, but it's not the end!</div>
      </div>
    </div>
  </div>
</div>
