/* Sidebar Styles */

$mobile: "(min-width: 320px) and (max-width: 679px)";
$tablet: "(min-width: 680px) and (max-width: 1024px)";
$desktop: "(min-width: 1024px)";

.sidebar-wrapper {
  z-index: 1;
  margin-left: 1em;
  color: #333;
  background-color: #f5f5f5;
  border-radius: 10px;

  @media #{$desktop} {
    position: fixed;
  }
  @media #{$mobile}{
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
  }
}

.sidebar-header {
  background-color: #333;
  color: #f5f5f5;
  border-radius: 10px;
  margin-top: 1em;
}

.sidebar-header p {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.sidebar-nav {
  top: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  line-height: 40px;
  padding-bottom: 1em;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.input-icon {
  width: 40px;
}

.filter-input{
  width: 100%;
}